body{
    margin:0;
}
.background {
    border: 30px solid inherit;
    text-align: center;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:inherit;
    z-index: 999;
}

.mainimage {
    padding: 27px;
}

.Navbar-HearderBar {
    display: flex;
    justify-content: space-between;

}
.Navbar-HearderBar-Logo {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 27px;
}

.menutext {
    margin-left: 50px;
    margin-top: 900px;
    margin-bottom: 35px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display:block;
}

.Navbar-HearderBar-Menu {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: 27px;
}
.Navbar-HearderBar-Product{
    margin-left: 35px;
}
.Navbar-HearderBar-About {
    margin-left: 35;
}
.Navbar-HearderBar-Contact{
    margin-left: 35px;
}
.Navbar-HearderBar-UIUX {
}
.menuimage {
    margin-left: 30px;
}
.image-row{
    display:flex;
    justify-content:space-between;
    
}

.image1 {
    width: 444px;
}
.image1 img{
    height:266px;
}

.image-row